In [54]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv('/content/weatherAUS (1).csv')

In [23]:
df

              Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0       2008-12-01   Albury     13.4  ...     21.8         No            No
1       2008-12-02   Albury      7.4  ...     24.3         No            No
2       2008-12-03   Albury     12.9  ...     23.2         No            No
3       2008-12-04   Albury      9.2  ...     26.5         No            No
4       2008-12-05   Albury     17.5  ...     29.7         No            No
...            ...      ...      ...  ...      ...        ...           ...
145455  2017-06-21    Uluru      2.8  ...     22.4         No            No
145456  2017-06-22    Uluru      3.6  ...     24.5         No            No
145457  2017-06-23    Uluru      5.4  ...     26.1         No            No
145458  2017-06-24    Uluru      7.8  ...     26.0         No            No
145459  2017-06-25    Uluru     14.9  ...     20.9         No           NaN

[145460 rows x 23 columns]

In [18]:
avgs=df.mean(axis=0)
avgtem_max=avgs['MaxTemp']
avgtem_max=avgs['MinTemp']

23.221348275647003

In [19]:
print("maximum temp average:",avgtemp)

maximum temp average: 23.221348275647003

In [30]:
f=df['Location']=='Cobar'
dd=df.loc[f]

In [34]:
avg2=dd.mean(axis=0)
cobar_m_T=avg2['MaxTemp']

In [36]:
print('avg max temp at cobar is:',cobar_m_T)

avg max temp at cobar is: 25.870093147039235

In [62]:
z=df['Evaporation']
zz=df['Sunshine']

In [64]:
f2=z.isna()
f3=zz.isna()
f2_a=f2.value_counts()
f3_a=f3.value_counts()

In [76]:
t1=f3_a[True]

In [77]:
t2=f2_a[True]

In [78]:
print('number of Null in sunshine and evaporation is',t1+t2)

number of Null in sunshine and evaporation is 132625